/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h3 {
    font-weight: bold;
    font-size: 18px;
}

/* Header */

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background: none;
}

.listeNav li {
    margin-left: 75px;
    border-top: 2px solid transparent;
    padding-top: 10px;
}

.listeNav li:hover {
    color: #0065FC;
    border-top-color: #0065FC;
}

#logo {
    height: 19px;
    width: auto;
    margin-top: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Header */

/* Section 1 */

h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 30px 0 7px 0;
}

p {
    margin: 0 0 10px 0;
}

.recherche {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    align-items: center;
    margin: 30px 0 30px 0;
}

#iconeRecherche {
    height: 18px;
    width: 14px;
    width: auto;
    padding: 14.5px 15.5px 14.5px 15.5px;
    background: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

input[type = "text"] {
    border: none;
    outline: none;
    font-weight: 700;
    padding: 0 32px 0 32px;
    width: 131px;
    height: 45px;
    border: solid 1px var(--main-bg-color);
}

input[type = "text"]::placeholder {
    color: black;
}

#btnRechercher {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    font-size: 18px;
    font-weight: 700;
    width: 131px;
    height: 45px;
    border: solid 1px var(--main-color);
    border-radius: 0 15px 15px 0;
}

#btnRechercher #btnTexte {
    padding: 0 4% 0 4%;
}

#iconeLoupe {
    display: none;
}

.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.filtres h2 {
    margin-right: 20px;
}

.listeFiltres li {
    display: flex;
    align-items: center;
}

.listeFiltres li button {
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    height: 40px;
    margin-right: 10px;
    padding: 0 15px 0 15px;
    font-size: clamp(0.9em, 1vw, 1em);
    font-weight: 700;
}

.listeFiltres li button:hover {
    background-color: var(--filter-bg-color);
}

.listeFiltres li button i {
    margin-right: 10px;
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info i {
    margin-right: 10px;
    padding: 4px 7px 4px 7px;
    font-size: 10px;
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
}

.info p {
    margin: 0;
    font-size: 16px;
}

/* Section 1 */

/* Section 2 */

.hebergements-and-populaires {
    margin-bottom: 70px;
}

.carte_h {
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    width: 30%;
    height: 207.25px;
    margin: 5% 5% 0 0;
    padding-bottom: 13%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.carte_h:nth-child(3n) {
    margin-right: 0;
}

.carte_h img {
    width: 100%;
    height: 114px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
}

.carte_h .contenu {
    padding-left: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.txt h3 {
    margin: 1% 0 4% 0;
    font-size: 1em;
}

.txt p {
    margin: 0 0 1% 0;
    font-size: clamp(0.9em, 1vw, 1em);
}

.contenu .card-rating i {
    font-size: 0.9em;
}

.cartes_h {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
}

.plus {
    font-size: 18px;
    font-weight: 700;
}

/* Section 2 */

/* Section 3 */

.activites {
    padding: 0 30px 0 30px;
    margin-bottom: 70px;
}

.activites h2 {
    font-size: 22px;
    font-weight: 700;
}

.activites .cartes_a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activites .carte_a {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 23.5%;
    height: 100%;
}

.activites .carte_a img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: 380px;
    margin: 0;
}

.activites .carte_a h3 {
    font-size: 16px;
    font-weight: 700;
    padding: 3% 0 3% 7%;
    height: 45px;
    background-color: white;
    margin: 0;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
}

/* Section 3 */

/* Footer */

footer {
    background-color: var(--main-bg-color);
    width: 100%;
}

ul {
    list-style: none;
}

#listePrincipale {
    display: flex;
    flex-direction: row;
    padding: 2% 0 0 2%;
}

#listePrincipale li {
    margin-right: 17%;
    width: 100%;
}

#listePrincipale .titre {
    font-size: 18px;
    font-weight: 700;
}

#listePrincipale ul {
    display: flex;
    flex-direction: column;
    display: inline;
}

#listePrincipale ul li {
    margin-bottom: 5%;
}

/* Footer */

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites .carte_a img {
        height: 200px;
    }

    #listePrincipale li {
        margin: 1%;
    }



}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    /* Section 1 - Recherche */
    
    body {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .main-container {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo {
        margin-bottom: 5%;
    }
    
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .listeNav {
        width: 100%;
    }

    .listeNav li:hover {
        border-top-color: transparent;
        border-bottom-color: #0065FC;
    }

    .listeNav li {
        width: 100%;
        padding-bottom: 10px;
        border-bottom: solid 2px var(--main-bg-color);
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #rechercheEtFiltres {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 5%;
    }

    .recherche {
        width: 100%;
        display: flex;
        margin-right: 0;
        border: solid 1px var(--main-bg-color);
        border-radius: 15px;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .listeFiltres li button {
        font-size: clamp(0.8em, 1vw, 1em);
        height: 50px;
        width: 100%;
        border-radius: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .listeFiltres li {
        margin-bottom: 5%;
        width: 49%;
    }

    .listeFiltres {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #iconeRecherche {
        border-radius: 13px 0 0 13px;
        border: 1px solid var(--main-bg-color);
    }

    #btnRechercher {
        border-radius: 15px;
        box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
        height: 49px;
        width: 55px;
    }

    #btnRechercher #btnTexte {
        display: none;
    }
    
    #iconeLoupe {
        display: block;
        width: 50%;
        margin-left: 27.5%;
    }

    #formRecherche {
        display: flex;
        width: 100%;
    }

    input[type="text"] {
        width: 100%;
        border: none;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 10% 0;
        margin: 0;
    }
    
    .hebergements-and-populaires .hebergements {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-color: white;
    }

    .hebergements-and-populaires .hebergements h2 {
        align-self: flex-start;
        margin-left: 5%;
    } 

    .hebergements-and-populaires .hebergements .cartes_h {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .hebergements-and-populaires .hebergements .carte_h {
        width: 90%;
        margin: 2% 0;
    }

    .hebergements-and-populaires .hebergements .plus {
        align-self: flex-start;
        margin-left: 5%;
    }

    .hebergements-and-populaires .populaires {
        order: -1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hebergements-and-populaires .populaires-title {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    .txt h3 {
        margin-bottom: 0.5em;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .populaires-cards a {
        width: 90%;
    }

    .populaires-cards .card {
        margin-top: 5%;
    }

    .activites {
        width: 100%;
        margin: 0;
        margin-bottom: 15%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .activites h2 {
        display: flex;
        align-self: flex-start;
        margin-left: 10%;
    }

    .activites .cartes_a {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .activites .carte_a {
        width: 83%;
        margin-top: 3%;
    }

    .activites .carte_a img {
        height: 141px;
    }

    #listePrincipale {
        display: flex;
        flex-direction: column;
        padding: 10% 0 0 10%;
    }

    #listePrincipale li {
        margin-bottom: 10%;
        width: 99%;
        margin-right: 0;
    }

    #listePrincipale li ul li {
        margin-bottom: 1%;
    }

    /* Section 1 - Recherche */

}